@use '../utils' as *;

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
	background: var(--tp-grey-1);
}
.grey-bg-2 {
	background: var(--tp-grey-2);
}

.white-bg {
	background: var(--tp-common-white);
}

.black-bg {
	background: var(--tp-common-black);
}

.theme-bg-1 {
	background-color: var(--tp-theme-1);
}

.theme-bg-2 {
	background-color: var(--tp-theme-4);
}